  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="mb-2">
        <div>
          <h1 class="d-flex justify-content-center">Olá 👋, seja bem-vindo ao dashboard.</h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <%= form_tag dashboard_path, method: :get do %>
      <div class="d-flex justify-content-end mt-5">
        <div class="row">
          <div class="col-sm-6">
            <label>Data Inicial:</label>
            <input type="date" style="width: 180px" class="form-control" name="initial_date" 
              value="<%= Date.today %>">
          </div>
          <div class="col-sm-6">
            <label>Data Final:</label>
            <input type="date" style="width: 180px" class="form-control" name="final_date" 
              value="<%= params[:final_date]%>">
          </div>
          <div class="mt-3 ms-0">
            <input type="submit" value="search" class="btn btn-primary">
          </div>
        </div>
      </div>  
    <% end %>
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-8 text-center">
          <h3><i class="far fa-calendar-alt"></i> Dia <%= Date.today.strftime('%d/%m/%Y') %></h3>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-sm-6 col-md-4 text-center">
          <h5><i class="far fa-money-bill-alt"></i> Lucro R$ </h5>
          Total: <%= @sum_order.round(2) %>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center">
          <h5><i class="far fa-money-bill-alt"></i> Ticket Médio R$ </h5>
          Total: <%= (@sum_order / @orders.count).round(2) %>
        </div>
      </div>
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-list-alt"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total</span>
              <span class="info-box-number"> <%= @orders.count %></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-concierge-bell"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Concluídos</span>
              <span class="info-box-number"><%= @orders_concluded.count %></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-spinner"></i></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Em Andamento</span>
            <span class="info-box-number"><%= @orders_progress.count %></span>
          </div>
        </div>
      </div>
      <div class="clearfix hidden-md-up"></div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-shopping-cart"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Na fila</span>
            <span class="info-box-number"><%= @orders_queue.count %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-times"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Cancelados</span>
            <span class="info-box-number"><%= @orders_canceled.count %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
      <h5 class="my-4">Pedidos por Status:</h5>
      <div class="row">
        <div class="table-responsive">
          <table id="orderTable" class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Pedido</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Mesa</th>
                  <th scope="col">Atendente</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                  <tr>
                    <th scope="row"><%= order.id %></th>
                    <td><%= order.client_name %></td>
                    <td><%= order.table_number %></td>
                    <td><%= order.employee.name %></td>
                    <td><%= order.situation %></td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<script>
$( document ).on('turbolinks:load', function() {
  $('#orderTable').DataTable();
});
</script>