<% @product_orders.each do |item| %>
  <%= item.product.name %>
  <%= item.product.price %>
  <%= form_with model: item do |f| %>
    <% f.hidden_field :product_id, value: item.product.id %>
    <%= f.number_field :quantitie, value: item.quantitie.to_i %>
    <%= f.text_field :note, value: item.note %>
    <%= f.submit "Atualizar Pedido" %>
    <%= link_to "Remover", item, method: :delete, remote: true  %>
  <% end %>
  <h4>Subtotal: <%= item.total %></h4>
<% end %>
<h4>Seu pedido é de : <%= current_order.subtotal %></h4>
