<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Categorias</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <%= link_to new_dashboard_category_path, remote: true, class: "btn btn-app bg-success float-right", 
                                             data:{toggle:"modal", target:"#newCategoryModal"} do %>
      <i class="far fa-plus-square"></i> Adicionar
    <% end %>
    <div class="table-responsive">
      <table class="table">
        <table id="categoryTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Descrição</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <%  @categories.each do |category| %>
              <tr>
                <th scope="row"><%= category.id %></th>
                <td><%= category.description %></td>
                <td>
                  <%= link_to edit_dashboard_category_path(category), remote: true, class:"btn bg-info btn-sm",
                                                                      data:{toggle:"modal", target:"#editCategoryModal"} do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to dashboard_category_path(category), method: :delete, class:"btn bg-danger btn-sm",
                                                                 data: {confirm: "Deseja realmente excluir?"} do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="newCategoryModal" tabindex="-1" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="newCategoryForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atualizar Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="editCategoryForm">
      </div>
    </div>
  </div>
</div>

<script>
$( document ).on('turbolinks:load', function() {
  $('#categoryTable').DataTable();
});
</script>