<!-- Modal -->
<div class="modal fade" id="followModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="followModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Pedidos em Andamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <% @orders_status.to_a.group_by { |x| x.situation.upcase }.each do |order| %>
              <thead>
                <tr>
                  <th colspan="8" class="text-center">
                    <p><%= Order.human_enum_name(:situation, order.first.downcase) %></p>
                  </th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th scope="col">Pedido</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Mesa</th>
                  <th scope="col">Atendente</th>
                </tr>
              </thead>
              <tbody>
                <% order.second.each do |order| %>
                  <tr>
                    <th scope="row"><%= order.id %></th>
                    <td><%= order.client_name %></td>
                    <td><%= order.table_number %></td>
                    <td><%= order.employee.name %></td>
                    <% if order.situation == 'queue' %>
                      <td>
                        <%= link_to change_situation_order_path(order, situation: 3), class:"btn btn-sm btn-danger", data: { confirm: "Tem certeza que deseja cancelar o pedido?" }, remote: true do %>
                          <i class="fas fa-times"></i> Cancelar
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
